:root {
    --primary-color: #0099ff;
    --secondary-color: #2c3e50;
    --bg-color: #ecf0f1;
    --text-color: #34495e;
}

@font-face {
    font-family: 'Vazir';
    src: url('/assets/fonts/Vazir.ttf'); /* TTF file */
}
body {
    direction: rtl;
    font-family: 'vazir';
    src: url();
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
}
h3{
    direction:ltr;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}
header {
  /*  background-color: var(--primary-color);
   color: white;*/
    text-align: center;
    padding: 60px 0;
}
h1 {
    margin: 0;
    font-size: 3em;
}
h2 {
    direction: ltr;
    color: var(--secondary-color);
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
}
section {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-bottom: 30px;
}
.skills-list {
    direction: ltr;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
    list-style-type: none;
}
.skills-list li {
    background-color: var(--primary-color);
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 0.9em;
}
.project {
    background-color: #f8f9fa;
    border-left: 4px solid var(--primary-color);
    padding: 20px;
    margin-bottom: 20px;
}
.contact-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.contact-info a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}
.contact-info a:hover {
    color: var(--secondary-color);
}