body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
    src: format('ttf') url('https://github.com/streamtechteam/StreamTechRepo/raw/main/fonts/vazir/Vazir.ttf');
    font-family: Vazir, sans-serif;
    margin: 0;
    padding: 0;
}
#main{
	flex: 1;
}
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0rem 0;
}
#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}
article {
    height: 110px;
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    cursor: pointer;
    transition: transform 0.3s;
}
article:hover {
    transform: scale(1.05);
}
#projects article {
}
#projects article {
}


h2 {
    color: #333;
}
footer {
	margin-top: 20;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}
